<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Induction Planner Test Suite" parallel="tests" thread-count="2">
    <test name="Induction Planner Tests">
        <classes>
            <class name="InductionPlannerTest"/>
        </classes>
    </test>
</suite>